[Unit]
Description=HomeGateServiceArm64
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/HomeGate
ExecStart=/usr/local/HomeGate/HOMEGATE.Arm64
RestartSec=10s

[Install]
WantedBy=multi-user.target
