@page
@model BLADE.SERVICEWEB.RAZORBODY9.Pages.DOWNFILEModel
@{
    ViewData["Title"] = "DOWNFILE";
}


<h2 class="text-warning">Download File Not Found</h2>
<p class=" text-danger">@Model.Message</p>
